.divStyle{
    border-radius: 2rem;
    margin-bottom: 10px;
    height: 70vh;
    background-color: #CFDAE6;
}

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
}
.navigationLogo{
    text-decoration: none;
    margin-left: 2rem;
    font-size: 3rem;
    font-family: 'Mr Dafoe';
    letter-spacing: 0.5rem;
    color: #E6F3FF;
}

.headerStyle{
    margin-bottom: 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ACB6BF;
    border-radius: 2rem;
}
.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        letter-spacing: 0.5rem;
        font-size: 2.5rem;
    }
    div{
        text-align: center;
        padding: 2rem;
        box-shadow: 10px 10px 16px 3px rgba(0,0,0,0.3);
        border-radius: 2rem;
        margin: 3rem;
    }
}

.homePage{
    .logHomePage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:50%;
        left: 50%;
        margin: 0 auto;
        transform: translateX(-50%) translateY(-50%);
    }
}

.unlogHomePage{
    .photoInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .text{
        position: relative;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50vh;
    }
    .composition{
        position: relative;
        height: 65vh;
        width: 50vh;

    
        &__photo{
            width: 75%;
            height: 25rem;
            box-shadow: 0 1.5rem 4rem rgba( 0,0,0, .4);
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            transition: all .2s;
            outline-offset: 0;
            &--p1{
                left: 15rem;
                top: 10rem;
            }
            &--p2{
                left: -15rem;
                top: 2rem;
            }
            &--p3{
                left: 0rem;
                top: 30rem;
            }
            &:hover{
                outline: 1.5rem solid #CFDAE6;
                transform: scale(1.25) translateY(-.5rem);
                box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                z-index: 20;
            }
        }
    
        &:hover &__photo:not(:hover){
            transform: scale(.95);
        }
    }
}





  


